<ion-view title="{{title}}">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Informations générales
            </div>
            <div class="item">
                Nom de l'app : <b>Gamer's Life</b>
            </div>
            <div class="item">
                Version : <b>{{ appVersion }}</b>
            </div>
            <div class="item">
                Système : <b>{{ platform }}</b>
            </div>
            <div class="item">
                Site WEB : <b>https://gamers-life.fr</b>
            </div>
            <div class="item item-divider">
                Mascotte officielle
            </div>
            <div class="item">
                Moo l'hérisson
            </div>
            <div class="item item-divider">
                Développeur principal (appli et site)
            </div>
            <div class="item">
                Ludovic "SilentDev" Frank
            </div>
            <div class="item item-divider">
                Développeur secondaire (aide sur le site)
            </div>
            <div class="item">
                Baptiste "Madangel" Foucher
            </div>
            <div class="item item-divider">
                Comunity Manager
            </div>
            <div class="item">
                Prudence Laney
            </div>
        </div>
    </ion-content>
</ion-view>
