<ion-view view-title="{{title}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-refresh" ng-if="::disabledPullToRefresh"
                ng-click="loadView(true)">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher
                ng-if="::disabledPullToRefresh == false"
                pulling-text="Tirer pour actualiser..."
                on-refresh="loadView(true)">
        </ion-refresher>
        <div ng-if="status == 200">
            <div class="card" ng-if="nbComments === 0">
                <div class="item item-text-wrap text-center">
                    Il n'y a aucun commentaire sur cette #GL
                </div>
            </div>
            <ion-list>
                <div ng-repeat="comment in comments track by comment.id">
                    <div class="item item-text-wrap item-avatar">
                        <img src="img/avatar_default.png" ng-if="::!comment.authorHasAvatar">
                        <img ng-src="{{ avatarDir }}{{::comment.authorAvatar }}" ng-if="::comment.authorHasAvatar">
                        <div class="row">
                            <div class="col-100">
                                <h2>{{::comment.author}}</h2>
                                <div ng-if="::comment.hasParent">
                                    <p>Réponse à {{::comment.parent.author }}</p>
                                    <blockquote ng-bind-html="comment.parent.message">
                                        {{::comment.parent.message}}
                                    </blockquote>
                                </div>
                                <div ng-bind-html="comment.message">
                                    {{::comment.message}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="comment-metadata">
                                    <i class="ion-clock"></i> {{::comment.creationDate}} |
                                    <span ng-if="::comment.deviceType == 'computer'">
                  <i class="ion-laptop"></i>
                </span>
                                    <span ng-if="::comment.deviceType == 'console'">
                  <i class="ion-ios-game-controller-b"></i>
                </span>
                                    <span ng-if="::comment.deviceType == 'tablet'">
                  <i class="ion-ipad"></i>
                </span>
                                    <span ng-if="::comment.deviceType == 'mobile'">
                  <i class="ion-iphone"></i>
                </span> |
                                    <span class ng-click="reportComment(comment)">
                  <i class="ion-alert-circled"></i> Signaler
                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-list>
            <ion-infinite-scroll
                    immediate-check="false"
                    ng-if="moreDataCanBeLoaded()"
                    on-infinite="loadMore()"
                    distance="10%">
            </ion-infinite-scroll>
        </div>
    </ion-content>

    <
    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="buttons" ng-click="openQuoteModal()">
            <button class="button">Lire la #GL</button>
        </div>
        <h1 class="title">Commentaires</h1>
        <div class="buttons" ng-if="::quote.hasPicture" ng-click="showImages()">
            <button class="button">Image(s)</button>
        </div>
    </ion-footer-bar>
</ion-view>
