// Loading spinner
/*.center-loading {
  margin-top: 40vh;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}

.loading-spinner svg {
  width: 17% !important;
  height: 70px !important;
}
*/
